In [1]:
# Question 1
# Read the following data set:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
# Rename the columns as per the description from this file:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names


import numpy as np
import pandas as pd

adultnames = pd.read_fwf('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names')
# adultnames = pd.read_fwf('adult.names.txt')
adultnames.rename(columns={adultnames.columns.values[0]:'h1'},inplace=True)

ad=adultnames['h1'].values.tolist()

# Method 1
# cols = list(adultnames.iloc[95:109].h1.str.split(":",expand=True)[0])
# print("Column Names from Adult.Names file : \n")
# print(cols)
# cols.append("salary")

# Method 2
cols=[]

for line in ad:             
    if len(str(line))>2:
        if "|" in str(line):
            a=1
        else:
            if ":" in str(line):
                word=list(line.split(":"))[0]
                cols.append(word)
cols.append("Salary")
adultdata = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=cols)
# adultdata = pd.read_csv('adult.data.txt',names=cols)

def trimAllColumns(df):
    trimcols = lambda x: x.strip() if type(x) is str else x
    return df.applymap(trimcols)

adultdata = trimAllColumns(adultdata)
adultdata.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# Create a sql db from adult dataset and name it sqladb
import sqlite3 as db
from pandas.io import sql

connection = db.connect('sqladb')
cursor = connection.cursor()

query = """drop table if exists adultdata;"""
cursor.execute(query)

adultdata.to_sql('adultData', connection)

In [3]:
# 1. Select 10 records from the adult sqladb
query = "SELECT * FROM adultData LIMIT 10;"
pd.read_sql(query, connection)

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [4]:
# 2. Show me the average hours per week of all men who are working in private sector
query = """SELECT AVG([hours-per-week]) as Average FROM adultData where workclass='Private' and sex='Male';"""
pd.read_sql(query, connection)

     Average
0  42.221226

In [6]:
# 3. Show me the frequency table for education, occupation and relationship, separately

print("Frequency Table for Education")
query = """SELECT education, COUNT(education) AS frequency FROM adultData GROUP BY education LIMIT 10;"""
print(pd.read_sql(query, connection))

print("-"*100)

print("Frequency Table for occupation")
query = """SELECT occupation, COUNT(occupation) AS frequency FROM adultData GROUP BY education;"""
print(pd.read_sql(query, connection))

print("-"*100)

print("Frequency Table for relationship")
query = """SELECT relationship, COUNT(relationship) AS frequency FROM adultData GROUP BY education;"""
print(pd.read_sql(query, connection))

Frequency Table for Education
    education  frequency
0        10th        933
1        11th       1175
2        12th        433
3     1st-4th        168
4     5th-6th        333
5     7th-8th        646
6         9th        514
7  Assoc-acdm       1067
8   Assoc-voc       1382
9   Bachelors       5355
----------------------------------------------------------------------------------------------------
Frequency Table for occupation
           occupation  frequency
0   Handlers-cleaners        933
1               Sales       1175
2     Protective-serv        433
3   Machine-op-inspct        168
4   Machine-op-inspct        333
5        Craft-repair        646
6       Other-service        514
7        Tech-support       1067
8               Sales       1382
9      Prof-specialty       5355
10                  ?        413
11    Exec-managerial      10501
12    Exec-managerial       1723
13      Other-service         51
14     Prof-specialty        576
15    Protective-serv       7291
----------------------------------------------------------------------------------------------------
Frequency Table for relationship
     relationship  frequency
0         Husband        933
1         Husband       1175
2       Own-child        433
3            Wife        168
4         Husband        333
5         Husband        646
6         Husband        514
7            Wife       1067
8         Husband       1382
9       Unmarried       5355
10        Husband        413
11           Wife      10501
12        Husband       1723
13  Not-in-family         51
14  Not-in-family        576
15  Not-in-family       7291

In [17]:
# 4. Are there any people who are married, working in private sector and having a masters
# degree

query = """SELECT * FROM adultData where workclass='Private' and education like '%Masters%' and [marital-status] like 'Married%';"""
pd.read_sql(query, connection)

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,188,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,198,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,311,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,361,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,405,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,435,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
10,606,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11,697,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
12,777,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
13,895,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
14,916,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
15,927,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
16,951,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
17,1014,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
18,1145,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
19,1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
20,1197,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
21,1224,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,>50K
22,1293,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
23,1341,57,Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24,1378,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
25,1593,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
26,1612,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
27,1642,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
28,1699,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
29,1709,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
511,31400,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
512,31420,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
513,31425,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
514,31434,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
515,31435,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
516,31450,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
517,31451,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
518,31456,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
519,31468,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,>50K
520,31592,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
521,31596,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
522,31727,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
523,31802,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
524,31816,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
525,31828,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
526,31907,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
527,31946,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
528,32009,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
529,32049,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
530,32114,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
531,32200,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
532,32267,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
533,32300,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
534,32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
535,32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
536,32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
537,32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
538,32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
539,32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [18]:
# 5. What is the average, minimum and maximum age group for people working in different
# sectors

query = """SELECT workclass,max(age),min(age),AVG(age) FROM adultData group by workclass;"""
pd.read_sql(query, connection)

          workclass  max(age)  min(age)   AVG(age)
0                 ?        90        17  40.960240
1       Federal-gov        90        17  42.590625
2         Local-gov        90        17  41.751075
3      Never-worked        30        17  20.571429
4           Private        90        17  36.797585
5      Self-emp-inc        84        17  46.017025
6  Self-emp-not-inc        90        17  44.969697
7         State-gov        81        17  39.436055
8       Without-pay        72        19  47.785714

In [20]:
# 6. Calculate age distribution by country

query = """SELECT [native-country],age,count(*) FROM adultData where [native-country]<>'?' group by [native-country],age;"""
pd.read_sql(query, connection)

     native-country  age  count(*)
0          Cambodia   18         1
1          Cambodia   25         1
2          Cambodia   27         2
3          Cambodia   28         1
4          Cambodia   32         1
5          Cambodia   34         1
6          Cambodia   35         1
7          Cambodia   36         1
8          Cambodia   37         2
9          Cambodia   40         2
10         Cambodia   42         1
11         Cambodia   46         1
12         Cambodia   48         1
13         Cambodia   50         1
14         Cambodia   51         1
15         Cambodia   65         1
16           Canada   17         2
17           Canada   18         1
18           Canada   19         1
19           Canada   20         2
20           Canada   22         1
21           Canada   23         3
22           Canada   24         3
23           Canada   25         5
24           Canada   26         2
25           Canada   27         2
26           Canada   28         3
27           Canada   29         4
28           Canada   30         3
29           Canada   31         2
...             ...  ...       ...
1192        Vietnam   37         2
1193        Vietnam   38         1
1194        Vietnam   40         1
1195        Vietnam   41         1
1196        Vietnam   43         2
1197        Vietnam   44         3
1198        Vietnam   45         3
1199        Vietnam   46         1
1200        Vietnam   48         1
1201        Vietnam   50         1
1202        Vietnam   51         1
1203        Vietnam   52         1
1204        Vietnam   53         1
1205        Vietnam   54         1
1206        Vietnam   63         1
1207        Vietnam   70         1
1208        Vietnam   73         2
1209     Yugoslavia   20         1
1210     Yugoslavia   22         1
1211     Yugoslavia   25         1
1212     Yugoslavia   29         1
1213     Yugoslavia   31         1
1214     Yugoslavia   35         2
1215     Yugoslavia   36         1
1216     Yugoslavia   40         1
1217     Yugoslavia   41         2
1218     Yugoslavia   43         1
1219     Yugoslavia   45         1
1220     Yugoslavia   56         2
1221     Yugoslavia   66         1

[1222 rows x 3 columns]

In [21]:
# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and
# 'capital-loss'

# Formula -> Net Capital Gain = Capital Gain - Capital Loss
# Ref: https://www.ato.gov.au/General/Capital-gains-tax/Working-out-your-capital-gain-or-loss/Working-out-your-net-capital-gain-or-loss/

# Adding a new column to the table
query = """ALTER TABLE adultdata ADD COLUMN netcapitalgain float;"""
cursor.execute(query)

# Calculating Net Capital gain
query = """update adultdata set netcapitalgain=[capital-gain]-[capital-loss] ;"""
cursor.execute(query)

# Fetch and see if the new fielf is appearing with calculated value
query = "SELECT * FROM adultData order by netcapitalgain desc LIMIT 10;"
print(pd.read_sql(query, connection))

   index  age         workclass  fnlwgt     education  education-num  \
0   1246   54      Self-emp-inc  166459   Prof-school             15
1   1368   52           Private  152234       HS-grad              9
2   1482   53      Self-emp-inc  263925       HS-grad              9
3   1528   52           Private  118025     Bachelors             13
4   1616   46           Private  370119   Prof-school             15
5   1682   43           Private  176270     Bachelors             13
6   1765   49           Private  159816     Bachelors             13
7   1771   50           Private  171338  Some-college             10
8   1826   22  Self-emp-not-inc  202920       HS-grad              9
9   2103   43      Self-emp-inc  172826  Some-college             10

       marital-status       occupation relationship                race  \
0  Married-civ-spouse   Prof-specialty      Husband               White
1  Married-civ-spouse  Exec-managerial      Husband  Asian-Pac-Islander
2  Married-civ-spouse            Sales      Husband               White
3  Married-civ-spouse  Exec-managerial      Husband               White
4  Married-civ-spouse   Prof-specialty      Husband               White
5  Married-civ-spouse  Exec-managerial      Husband               White
6  Married-civ-spouse   Prof-specialty         Wife               White
7  Married-civ-spouse  Exec-managerial      Husband               White
8       Never-married   Prof-specialty    Unmarried               White
9  Married-civ-spouse            Sales      Husband               White

      sex  capital-gain  capital-loss  hours-per-week      native-country  \
0    Male         99999             0              60       United-States
1    Male         99999             0              40               Japan
2    Male         99999             0              40       United-States
3    Male         99999             0              50       United-States
4    Male         99999             0              60       United-States
5    Male         99999             0              60       United-States
6  Female         99999             0              20       United-States
7    Male         99999             0              50       United-States
8  Female         99999             0              40  Dominican-Republic
9    Male         99999             0              55       United-States

  Salary  netcapitalgain
0   >50K         99999.0
1   >50K         99999.0
2   >50K         99999.0
3   >50K         99999.0
4   >50K         99999.0
5   >50K         99999.0
6   >50K         99999.0
7   >50K         99999.0
8   >50K         99999.0
9   >50K         99999.0

In [22]:
#Task 2
# Read the following data set:
# https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

# 1. Create an sqlalchemy engine using a sample from the data set

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('sqlite:///:memory:', echo=True)
connection = engine.raw_connection()
Base = declarative_base()

adultdata.to_sql('adultdata', connection, if_exists='replace')

select_query = '''SELECT * FROM adultdata LIMIT 5;''' 

#Executes select query
engine.execute(select_query).fetchall()

2019-02-04 21:02:06,934 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-02-04 21:02:06,944 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:06,944 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-02-04 21:02:06,954 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:07,271 INFO sqlalchemy.engine.base.Engine SELECT * FROM adultdata LIMIT 5;
2019-02-04 21:02:07,271 INFO sqlalchemy.engine.base.Engine ()

[(0, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States', '<=50K'),
 (1, 50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (2, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (3, 53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (4, 28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'Black', 'Female', 0, 0, 40, 'Cuba', '<=50K')]

In [23]:
# 2. Write two basic update queries

#First update query
update_query_1 = '''UPDATE adultdata SET [native-country]='USA' where [native-country]=' United-States' ;'''
engine.execute(update_query_1)


#Second update query
update_query_2 = '''UPDATE adultdata SET sex='M' where sex=' Male';'''
engine.execute(update_query_2)

#Select query 
select_query = '''SELECT * FROM adultdata LIMIT 5;''' 
engine.execute(select_query).fetchall()

2019-02-04 21:02:10,351 INFO sqlalchemy.engine.base.Engine UPDATE adultdata SET [native-country]='USA' where [native-country]=' United-States' ;
2019-02-04 21:02:10,354 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:10,366 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-04 21:02:10,371 INFO sqlalchemy.engine.base.Engine UPDATE adultdata SET sex='M' where sex=' Male';
2019-02-04 21:02:10,374 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:10,386 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-04 21:02:10,391 INFO sqlalchemy.engine.base.Engine SELECT * FROM adultdata LIMIT 5;
2019-02-04 21:02:10,394 INFO sqlalchemy.engine.base.Engine ()

[(0, 39, 'State-gov', 77516, 'Bachelors', 13, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'United-States', '<=50K'),
 (1, 50, 'Self-emp-not-inc', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 13, 'United-States', '<=50K'),
 (2, 38, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'Handlers-cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (3, 53, 'Private', 234721, '11th', 7, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'Black', 'Male', 0, 0, 40, 'United-States', '<=50K'),
 (4, 28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'Black', 'Female', 0, 0, 40, 'Cuba', '<=50K')]

In [24]:
# 3. Write two delete queries

#First delete query
update_query_1 = '''delete from adultdata where [native-country]='?' ;'''
engine.execute(update_query_1)


#Second delete query
update_query_2 = '''delete from adultdata where occupation='?';'''
engine.execute(update_query_2)

#Select query 
select_query = '''SELECT * FROM adultdata where [native-country]='?' LIMIT 5;''' 
engine.execute(select_query).fetchall()

2019-02-04 21:02:18,549 INFO sqlalchemy.engine.base.Engine delete from adultdata where [native-country]='?' ;
2019-02-04 21:02:18,557 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:18,579 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-04 21:02:18,582 INFO sqlalchemy.engine.base.Engine delete from adultdata where occupation='?';
2019-02-04 21:02:18,584 INFO sqlalchemy.engine.base.Engine ()
2019-02-04 21:02:18,607 INFO sqlalchemy.engine.base.Engine COMMIT
2019-02-04 21:02:18,609 INFO sqlalchemy.engine.base.Engine SELECT * FROM adultdata where [native-country]='?' LIMIT 5;
2019-02-04 21:02:18,614 INFO sqlalchemy.engine.base.Engine ()

[]

In [25]:
# 4. Write two filter queries

#First filter query
filter_query1 = '''select * from adultdata where [native-country]='Cuba';'''
engine.execute(filter_query1).fetchall()

2019-02-04 21:02:54,667 INFO sqlalchemy.engine.base.Engine select * from adultdata where [native-country]='Cuba';
2019-02-04 21:02:54,684 INFO sqlalchemy.engine.base.Engine ()

[(4, 28, 'Private', 338409, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'Black', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (81, 52, 'Private', 276515, 'Bachelors', 13, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (638, 47, 'Self-emp-inc', 248145, '5th-6th', 3, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 50, 'Cuba', '<=50K'),
 (701, 31, 'Private', 243605, 'Bachelors', 13, 'Widowed', 'Sales', 'Unmarried', 'White', 'Female', 0, 1380, 40, 'Cuba', '<=50K'),
 (1237, 41, 'Self-emp-not-inc', 209344, 'HS-grad', 9, 'Married-civ-spouse', 'Sales', 'Other-relative', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (1663, 62, 'Private', 273454, '7th-8th', 4, 'Married-civ-spouse', 'Protective-serv', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (2018, 39, 'Private', 505119, 'Masters', 14, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (2229, 51, 'Private', 224763, '7th-8th', 4, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (2668, 37, 'Self-emp-not-inc', 243587, 'Some-college', 10, 'Separated', 'Other-service', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (2790, 64, 'Private', 258006, 'Some-college', 10, 'Widowed', 'Adm-clerical', 'Not-in-family', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (3289, 49, 'Private', 240859, '11th', 7, 'Married-civ-spouse', 'Craft-repair', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (3511, 52, 'Private', 366232, '9th', 5, 'Divorced', 'Craft-repair', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (3533, 63, 'Private', 230823, '12th', 8, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (4913, 23, 'Private', 256755, 'Bachelors', 13, 'Never-married', 'Handlers-cleaners', 'Other-relative', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (5025, 57, 'Self-emp-inc', 282913, 'HS-grad', 9, 'Married-civ-spouse', 'Sales', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (5194, 38, 'Private', 225707, 'HS-grad', 9, 'Married-civ-spouse', 'Machine-op-inspct', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (5241, 50, 'Private', 207367, 'Some-college', 10, 'Married-spouse-absent', 'Other-service', 'Not-in-family', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (5331, 53, 'Private', 276515, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Own-child', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (5834, 58, 'Private', 209423, '1st-4th', 2, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 38, 'Cuba', '<=50K'),
 (6916, 38, 'Private', 229180, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (6967, 60, 'Private', 230545, '7th-8th', 4, 'Divorced', 'Adm-clerical', 'Not-in-family', 'White', 'Female', 0, 0, 35, 'Cuba', '<=50K'),
 (7062, 31, 'Federal-gov', 139455, 'Bachelors', 13, 'Never-married', 'Exec-managerial', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (8019, 23, 'Private', 277328, 'Some-college', 10, 'Never-married', 'Handlers-cleaners', 'Own-child', 'White', 'Male', 0, 0, 32, 'Cuba', '<=50K'),
 (8452, 72, 'Private', 195184, 'HS-grad', 9, 'Widowed', 'Priv-house-serv', 'Unmarried', 'White', 'Female', 0, 0, 12, 'Cuba', '<=50K'),
 (8540, 35, 'Local-gov', 258037, 'HS-grad', 9, 'Married-civ-spouse', 'Craft-repair', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (8843, 46, 'Private', 231515, 'Assoc-acdm', 12, 'Never-married', 'Adm-clerical', 'Not-in-family', 'White', 'Female', 0, 0, 47, 'Cuba', '<=50K'),
 (9135, 57, 'Private', 303986, '5th-6th', 3, 'Never-married', 'Other-service', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (9339, 46, 'Private', 213408, 'Some-college', 10, 'Divorced', 'Sales', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (9347, 59, 'Private', 175689, 'Some-college', 10, 'Married-civ-spouse', 'Adm-clerical', 'Wife', 'White', 'Female', 0, 0, 14, 'Cuba', '>50K'),
 (9839, 55, 'Private', 223613, '1st-4th', 2, 'Divorced', 'Priv-house-serv', 'Unmarried', 'White', 'Female', 0, 0, 30, 'Cuba', '<=50K'),
 (9919, 32, 'Self-emp-inc', 218407, 'Some-college', 10, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Male', 0, 0, 70, 'Cuba', '<=50K'),
 (10042, 33, 'Self-emp-inc', 281832, 'Doctorate', 16, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (11352, 53, 'Self-emp-inc', 251675, 'Some-college', 10, 'Divorced', 'Sales', 'Not-in-family', 'White', 'Male', 8614, 0, 50, 'Cuba', '>50K'),
 (11495, 36, 'Private', 229180, 'Some-college', 10, 'Divorced', 'Craft-repair', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (12026, 56, 'Private', 195668, '10th', 6, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 35, 'Cuba', '>50K'),
 (12541, 40, 'Private', 205987, 'Prof-school', 15, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (13627, 47, 'Private', 218435, 'HS-grad', 9, 'Married-spouse-absent', 'Sales', 'Unmarried', 'White', 'Female', 0, 0, 20, 'Cuba', '<=50K'),
 (13696, 82, 'Self-emp-not-inc', 240491, 'HS-grad', 9, 'Married-civ-spouse', 'Craft-repair', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (13957, 77, 'Private', 235775, 'HS-grad', 9, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 25, 'Cuba', '<=50K'),
 (14058, 28, 'Private', 224629, 'Masters', 14, 'Never-married', 'Exec-managerial', 'Not-in-family', 'Other', 'Male', 0, 0, 30, 'Cuba', '<=50K'),
 (14352, 44, 'Private', 203897, 'Bachelors', 13, 'Married-spouse-absent', 'Adm-clerical', 'Not-in-family', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (15173, 28, 'Private', 222442, 'HS-grad', 9, 'Married-civ-spouse', 'Sales', 'Husband', 'White', 'Male', 0, 0, 51, 'Cuba', '<=50K'),
 (16364, 64, 'Private', 251292, '5th-6th', 3, 'Separated', 'Other-service', 'Other-relative', 'White', 'Female', 0, 0, 20, 'Cuba', '<=50K'),
 (16372, 67, 'Private', 264095, 'Some-college', 10, 'Married-civ-spouse', 'Handlers-cleaners', 'Husband', 'White', 'Male', 9386, 0, 24, 'Cuba', '>50K'),
 (16392, 57, 'Private', 233382, 'Masters', 14, 'Never-married', 'Exec-managerial', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (16627, 37, 'Self-emp-not-inc', 265266, 'Prof-school', 15, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (16771, 33, 'Private', 215306, 'Assoc-voc', 11, 'Never-married', 'Other-service', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (17182, 57, 'Private', 206343, 'HS-grad', 9, 'Separated', 'Machine-op-inspct', 'Not-in-family', 'White', 'Male', 2174, 0, 40, 'Cuba', '<=50K'),
 (17566, 40, 'Private', 236110, '12th', 8, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (17646, 41, 'Private', 237452, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Wife', 'White', 'Female', 0, 0, 15, 'Cuba', '>50K'),
 (17718, 43, 'Private', 234220, 'HS-grad', 9, 'Divorced', 'Machine-op-inspct', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (17909, 50, 'Private', 275181, '5th-6th', 3, 'Divorced', 'Other-service', 'Not-in-family', 'White', 'Male', 0, 0, 37, 'Cuba', '<=50K'),
 (17928, 29, 'Private', 186624, 'HS-grad', 9, 'Married-civ-spouse', 'Other-service', 'Wife', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (18196, 33, 'Private', 267859, 'Some-college', 10, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (18431, 33, 'Private', 315143, 'HS-grad', 9, 'Married-civ-spouse', 'Sales', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (19054, 56, 'Private', 266091, 'Bachelors', 13, 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 2907, 0, 52, 'Cuba', '<=50K'),
 (19119, 44, 'Local-gov', 290403, 'Assoc-voc', 11, 'Divorced', 'Protective-serv', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (19444, 30, 'Federal-gov', 321990, 'Some-college', 10, 'Married-civ-spouse', 'Adm-clerical', 'Husband', 'White', 'Male', 7298, 0, 48, 'Cuba', '>50K'),
 (19720, 41, 'Private', 183105, 'HS-grad', 9, 'Separated', 'Machine-op-inspct', 'Unmarried', 'White', 'Female', 0, 0, 44, 'Cuba', '<=50K'),
 (19935, 21, 'Private', 213041, 'HS-grad', 9, 'Never-married', 'Adm-clerical', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (20114, 52, 'Private', 318975, 'HS-grad', 9, 'Divorced', 'Adm-clerical', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (20328, 66, 'Private', 236784, 'Bachelors', 13, 'Divorced', 'Prof-specialty', 'Unmarried', 'White', 'Female', 0, 0, 8, 'Cuba', '<=50K'),
 (21087, 70, 'Private', 280307, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 20, 'Cuba', '<=50K'),
 (21145, 43, 'Self-emp-not-inc', 343061, '7th-8th', 4, 'Married-civ-spouse', 'Farming-fishing', 'Husband', 'White', 'Male', 4508, 0, 40, 'Cuba', '<=50K'),
 (22181, 27, 'Private', 221436, 'Bachelors', 13, 'Married-civ-spouse', 'Adm-clerical', 'Wife', 'White', 'Female', 0, 0, 40, 'Cuba', '>50K'),
 (22954, 34, 'Private', 351810, 'Bachelors', 13, 'Never-married', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 0, 0, 45, 'Cuba', '<=50K'),
 (23503, 39, 'Private', 315565, 'HS-grad', 9, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'Black', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (23631, 53, 'Private', 242859, 'Some-college', 10, 'Separated', 'Adm-clerical', 'Own-child', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (23836, 54, 'Self-emp-not-inc', 261207, '7th-8th', 4, 'Divorced', 'Transport-moving', 'Not-in-family', 'White', 'Male', 0, 0, 45, 'Cuba', '<=50K'),
 (25129, 47, 'Private', 145041, 'HS-grad', 9, 'Married-civ-spouse', 'Machine-op-inspct', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (25145, 52, 'Private', 270728, '7th-8th', 4, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 48, 'Cuba', '<=50K'),
 (26074, 47, 'Self-emp-inc', 120131, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 50, 'Cuba', '>50K'),
 (26101, 38, 'Self-emp-inc', 244803, 'Some-college', 10, 'Married-civ-spouse', 'Sales', 'Husband', 'White', 'Male', 0, 1485, 60, 'Cuba', '>50K'),
 (26381, 59, 'Private', 316027, 'HS-grad', 9, 'Married-civ-spouse', 'Other-service', 'Husband', 'White', 'Male', 0, 0, 45, 'Cuba', '<=50K'),
 (26431, 68, 'Private', 194746, 'Doctorate', 16, 'Divorced', 'Prof-specialty', 'Not-in-family', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (26715, 31, 'Private', 227446, 'Some-college', 10, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K'),
 (26782, 54, 'Private', 230767, 'Assoc-acdm', 12, 'Married-civ-spouse', 'Craft-repair', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (27558, 25, 'Private', 254613, 'HS-grad', 9, 'Never-married', 'Craft-repair', 'Own-child', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (27625, 23, 'Local-gov', 247731, 'HS-grad', 9, 'Divorced', 'Adm-clerical', 'Own-child', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (28301, 42, 'Self-emp-inc', 152071, 'Prof-school', 15, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'White', 'Male', 0, 0, 60, 'Cuba', '>50K'),
 (28887, 37, 'Self-emp-not-inc', 258037, 'HS-grad', 9, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 45, 'Cuba', '>50K'),
 (29010, 47, 'Private', 235986, 'HS-grad', 9, 'Never-married', 'Exec-managerial', 'Own-child', 'White', 'Female', 0, 0, 50, 'Cuba', '<=50K'),
 (29030, 38, 'Private', 277248, 'Masters', 14, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 0, 60, 'Cuba', '>50K'),
 (29874, 63, 'Local-gov', 214143, 'Bachelors', 13, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (30376, 45, 'Private', 297676, 'Assoc-acdm', 12, 'Widowed', 'Sales', 'Unmarried', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (30476, 37, 'Private', 265737, 'Some-college', 10, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'Black', 'Male', 0, 1887, 60, 'Cuba', '>50K'),
 (30743, 21, 'Private', 187088, 'Some-college', 10, 'Never-married', 'Adm-clerical', 'Own-child', 'Other', 'Female', 0, 0, 20, 'Cuba', '<=50K'),
 (30841, 37, 'Private', 238433, '1st-4th', 2, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (30892, 52, 'Private', 222646, '12th', 8, 'Separated', 'Machine-op-inspct', 'Other-relative', 'White', 'Female', 0, 0, 40, 'Cuba', '<=50K'),
 (30906, 39, 'Self-emp-not-inc', 251323, '9th', 5, 'Married-civ-spouse', 'Farming-fishing', 'Other-relative', 'White', 'Male', 0, 0, 40, 'Cuba', '<=50K'),
 (31149, 52, 'Self-emp-inc', 230767, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 0, 1902, 60, 'Cuba', '>50K'),
 (31907, 48, 'Private', 379883, 'Masters', 14, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'White', 'Male', 0, 0, 40, 'Cuba', '>50K')]

In [26]:

#Second filter query
filter_query2 = '''select sex,[capital-gain] from adultdata where [capital-gain] > '9999' LIMIT 5;'''
engine.execute(filter_query2).fetchall()

2019-02-04 21:03:07,294 INFO sqlalchemy.engine.base.Engine select sex,[capital-gain] from adultdata where [capital-gain] > '9999' LIMIT 5;
2019-02-04 21:03:07,304 INFO sqlalchemy.engine.base.Engine ()

[('Female', 14084),
 ('Female', 14344),
 ('Male', 15024),
 ('Female', 14084),
 ('Female', 15024)]

In [27]:
# Write two function queries
function_query1 = '''select workclass,sum([capital-gain]),sum([capital-loss]) from adultdata where workclass<>'?' group by workclass LIMIT 5;'''
engine.execute(function_query1).fetchall()

2019-02-04 21:03:16,152 INFO sqlalchemy.engine.base.Engine select workclass,sum([capital-gain]),sum([capital-loss]) from adultdata where workclass<>'?' group by workclass LIMIT 5;
2019-02-04 21:03:16,162 INFO sqlalchemy.engine.base.Engine ()

[('Federal-gov', 784879, 105363),
 ('Local-gov', 1714019, 228038),
 ('Private', 19608520, 1774623),
 ('Self-emp-inc', 5166742, 164864),
 ('Self-emp-not-inc', 4780923, 288815)]

In [28]:
function_query2 = '''select max([hours-per-week]) ,min([hours-per-week]),avg([hours-per-week]) from adultdata;'''
engine.execute(function_query2).fetchall()

2019-02-04 21:03:19,154 INFO sqlalchemy.engine.base.Engine select max([hours-per-week]) ,min([hours-per-week]),avg([hours-per-week]) from adultdata;
2019-02-04 21:03:19,154 INFO sqlalchemy.engine.base.Engine ()

[(99, 1, 40.93123798156621)]